In [120]:
#data being provided to us is 1 sample/second
#we need to convert it in 1 sample/minute
#1 minute = 60 secs
#then total samples/60= our desired output
#in pandas this can be done using T or Min alias
import pandas as pd
from pandas import read_csv
from datetime import datetime
details = pd.read_csv('details.csv', parse_dates=['Absolute Time'])
detailvol = pd.read_csv('detailVol.csv', parse_dates=['Realtime'])
detailtemp = pd.read_csv('detailTemp.csv',parse_dates=['Realtime'])

In [110]:
details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416681 entries, 0 to 416680
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 416681 non-null  int64
 1   Record Index               416681 non-null  int64
 2   Status                     416681 non-null  object
 3   JumpTo                     416681 non-null  int64
 4   Cycle                      416681 non-null  int64
 5   Step                       416681 non-null  int64
 6   Cur(mA)                    416681 non-null  float64
 7   Voltage(V)                 416681 non-null  float64
 8   CapaCity(mAh)              416681 non-null  float64
 9   Energy(mWh)                416681 non-null  float64
 10  Relative Time(h:min:s.ms)  416681 non-null  object
 11  Absolute Time              416681 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(5), object(2)
memory usage: 38.1+ MB

In [111]:
details.head()
details

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,0,1,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,1,2,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,2,3,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,3,4,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,4,5,Rest,1,1,1,0.0,3.5900,0.0,0.0,0:00:04.000,2020-10-10 20:03:43
...,...,...,...,...,...,...,...,...,...,...,...,...
416676,416676,458630,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:56.000,2020-10-16 03:25:35
416677,416677,458631,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:57.000,2020-10-16 03:25:36
416678,416678,458632,Rest,108,21,83,0.0,3.5853,0.0,0.0,0:09:58.000,2020-10-16 03:25:37
416679,416679,458633,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:09:59.000,2020-10-16 03:25:38
416680,416680,458634,Rest,108,21,83,0.0,3.5856,0.0,0.0,0:10:00.000,2020-10-16 03:25:39

In [112]:
#removing duplicate values
#details.drop_duplicates(subset=['Absolute Time'], inplace=True)

In [113]:
#details1 = details.set_index('Absolute Time').resample('T').mean()

In [114]:
#creating a functon for dataset that contains Real Time
#function accepts a dataframe as a parameter
def downsampleRT(dataset):
    dataset.drop_duplicates(subset=['Realtime'], inplace=True)
    output = dataset.set_index('Realtime').resample('T').mean()
    return output

In [115]:
#creating a functon for dataset that contains Absolute Time
#function accepts a dataframe as a parameter
def downsampleAT(dataset):
    dataset.drop_duplicates(subset=['Absolute Time'], inplace=True)
    output = dataset.set_index('Absolute Time').resample('T').mean()
    return output

In [116]:
#calling the function
#output is stored in the variables
detailDownsampled=downsampleRT(detailvol)
detailVolDownsampled=downsampleRT(detailtemp)
detailTempDownsampled=downsampleAT(details)
#output dataframe is exported to .csv files
detailDownsampled.to_csv("detailDownsampled.csv")
detailVolDownsampled.to_csv("detailVolDownsampled.csv")
detailTempDownsampled.to_csv("detailTempDownsampled.csv")

In [117]:
detailVolDownsampled = pd.read_csv('detailVolDownsampled.csv')

In [118]:
detailVolDownsampled

,Realtime,Unnamed: 0,Record ID,Auxiliary channel TU1 T(Â°C),Gap of Temperature
0,2020-10-10 20:03:00,11.380952,12.380952,27.723810,0.0
1,2020-10-10 20:04:00,52.500000,53.500000,28.043333,0.0
2,2020-10-10 20:05:00,112.500000,113.500000,28.380000,0.0
3,2020-10-10 20:06:00,172.500000,173.500000,28.738333,0.0
4,2020-10-10 20:07:00,232.500000,233.500000,28.975000,0.0
...,...,...,...,...,...
7638,2020-10-16 03:21:00,416430.500000,458384.500000,28.400000,0.0
7639,2020-10-16 03:22:00,416490.500000,458444.500000,28.400000,0.0
7640,2020-10-16 03:23:00,416550.500000,458504.500000,28.400000,0.0
7641,2020-10-16 03:24:00,416610.500000,458564.500000,28.400000,0.0
7642,2020-10-16 03:25:00,416660.500000,458614.500000,28.400000,0.0

In [119]:
detailvol.head(1)

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,0,1,Rest,0:00:00.000,2020-10-10 20:03:39,-0.0013,0